django
gunicorn
python-dotenv
whitenoise
git+https://app-generator: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@github.com/app-generator/priv-django-admin-berry-pro

# psycopg2-binary
# mysqlclient
